body {
  margin: 0;
  background-color: grey;
}

main {
  outline: 5px solid black;
  background-color: white;
}

/* Sidokolumn */
aside {
  background-color: rgb(30, 113, 103);
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  border-radius: 50%;
  border: 5px solid black;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
}

.work-title {
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.sidebar-info {
  margin: 50px;
}

a {
  color: black;
}

/* sammanfattning */
.first {
  outline: 5px solid blue;
}

/* arbetslivserfarenhet */
.second {
  outline: 5px solid yellow;
}

/* utbildning */
.third {
  outline: 5px solid orange;
}

@media screen and (min-width: 1024px) {
  aside {
    float: left;
  }
}
